{% from "common/_macro.html" import static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include "common/_heads.html" %}
    {% block head %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top nav" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="  ">
                <img src="{{ static("common/images/zx.png") }}" alt="">
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    <img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=1152143373,3712781954&fm=26&gp=0.jpg"
                         alt=""
                         class="profile_img">
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="  ">个人信息</a></li>
                    <li><a href="  ">修改密码</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="  ">退出</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav-sidebar">
                <li class="unfold"><a href="  ">
                    <i class="dashboard icon"></i>&nbsp;&nbsp;主页
                </a></li>
                <li class="profile-li">
                    <a href="#">
                        <i class="user icon"></i>&nbsp;&nbsp;个人中心
                        <span></span></a>
                    <ul class="subnav">
                        <li><a href="{{ url_for("admin.profile") }}">个人信息</a></li>
                        <li><a href='{{ url_for("admin.repassword") }}'>修改密码</a></li>
                    </ul>
                </li>

                <li class="profile-li nav-group post-manage">
                    <a href="#">
                        <i class="layui-icon layui-icon-list "></i>&nbsp;&nbsp;帖子管理
                        <span></span></a>
                    <ul class="subnav">
                        <li>
                            <a href="{{ url_for("admin.post") }}"><i class=""></i>&nbsp;&nbsp;发布新帖子</a>
                        </li>
                        <li>
                            <a href="{{ url_for("admin.post_list") }}"> <i class=""></i>&nbsp;&nbsp;管理帖子</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% block page_title %}{% endblock %}

            <div class="main_content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>
</body>
</html>