{% extends "admin/base.html" %}

{% block head %}{% endblock %}


{% block content %}
    <!--具体内容盒子    -->
    <table class="layui-table">
        <colgroup>
            <col width="150">
            <col width="200">
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>{{ admin.username }}</th>
            <th>管理员</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>邮箱</td>
            <td>{{ admin.email }}</td>
        </tr>
        <tr>
            <td>加入时间</td>
            <td>{{ admin.create_time }}</td>
        </tr>
        <tr>
            <td>权限介绍</td>
            <td>对前台用户及资源的管理...</td>
        </tr>

        </tbody>
    </table>
    <!--具体内容盒子结束-->
{% endblock %}


